.favorite-movie-card {
  color: whitesmoke;
  height: 450px;
  border-radius: 1rem;
  overflow: hidden;
}

.favorite-movie-card__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.favorite-movie-card__img {
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.favorite-movie-card__title {
  text-align: center;
  font-size: medium;
  font-weight: normal;
}
